.switch {
	display: inline-block;
	position: absolute;
	width: 60px;
	height: 28px;
	top: 40px;
	right: 60px;

	input {
		height: 0;
		width: 0;
		opacity: 0;

		&:focus {
			box-shadow: 0 0 1px var(--nav-color);
		}
	}

	span {
		position: absolute;
		cursor: pointer;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 28px;
		transition: 0.3s;

		background-color: var(--switch-color);

		&:focus {
			box-shadow: 0 0 1px var(--switch-color);
		}

		&::before {
			content: '';
			position: absolute;
			cursor: pointer;
			left: 4px;
			bottom: 4px;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			transition: 0.3s;

			background-color: #fff;
		}
	}
}

.switch__input:checked + .switch__slider {
	background-color: var(--switch-color);
}

.switch__input:checked + .switch__slider::before {
	transform: translateX(32px);
	-webkit-transform: translateX(32px);
	-ms-transform: translate(32px);
}
